{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile - {{user_profile.user.username}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />

</head>

<body>
  <header>

    <div class="container">

      <div class="profile">

        <div class="profile-image">
          <img src="{{user_profile.profileimg.url}}" alt="">
        </div>

        <div class="profile-user-settings">

          <h1 class="profile-user-name">{{user_profile.user.username}}</h1>

          <button class="btn profile-edit-btn"><a href="/settings">Edit Profile</a></button>



          <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
              aria-hidden="true"></i></button>

        </div>

        <div class="profile-stats">

          <ul>
            <li><span class="profile-stat-count">{{user_post_length}}</span> posts</li>
            <li><span class="profile-stat-count">{{user_followers}}</span> followers</li>
            <li><span class="profile-stat-count">{{user_following}}</span> following</li>
          </ul>

        </div>

        <div class="profile-bio">

          <p><span class="profile-real-name">@{{user_profile.user.username}}</span> {{user_profile.bio}}</p>

        </div>

      </div>
      <!-- End of profile section -->

    </div>
    <!-- End of container -->

  </header>
  <main>
    <!-- <div class="container">

      <div class="gallery">
        <div class="gallery-item" tabindex="0">
          {% for post in user_posts  %}
          <img src="{{post.image.url}}" class="gallery-image" alt="">
          {% endfor %}
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
            </ul>
         </div>
       </div>
        <div class="gallery-item" tabindex="0">
          <img src="{{post.image.url}}" class="gallery-image" alt="">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
            </ul>
          </div>
        </div>
        <div class="gallery-item" tabindex="0">
          <img src="{{post.image.url}}" class="gallery-image" alt="">
          <div class="gallery-item-type">
            <span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>
          </div>
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 42</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
            </ul>
          </div>

    

     End of gallery -->

    {% comment %} <div class="loader"></div> {% endcomment %}

    </div>
    <!-- End of container -->

  </main>
</body>

</html>